.About{
    height:730px;
    width:100%;
    background-color: inherit;
    display:flex;
}

.left h1{
    font-size: 4vw;
    text-align:left;
    margin-bottom:60px;
}
.About .right{
    margin-right:50px;
    width: 600px;
    height:100%;
    display:flex;
    align-items: center;
}
.About .left{
    margin-top:170px;
    color: var(--main-text);
    text-align: left;
    margin-left:100px;
    margin-right:20px;
    width:50%;
    height:calc(100%-170px);
}
.About h2{
    color: #CCC;
    font-size:1.7vw;
}
.About p{
    color: #888;
    font-size:1.1vw;
}
.stats{
    display:flex;
}
.annotation{
    width:600px;
    height:450px;
    position:relative;
    color:var(--main-text);
}
.annotateImg{
    z-index:4;
    position:absolute;
    top:140px;
    left:40px;
}
.imgLine{
    position:absolute;
    top: 190px;
    height:65px;
    left:60px;
    border-right:1px solid white;
}
.annotation .benign{
    position:absolute;
    right:0px;
    top:0px;
}
.annotation .malignant{
    position:absolute;
    right:0px;
    top:190px;
}
.malignant .line{
    position:absolute;
    height:40px;
    right: 25px;
    width:1px;
    border:none;
    border-right: 1px solid white;
}
.malignant .text{
    margin-top:50px;
    width:78px;

}
.benign .text{
    width: 60px;
    margin-bottom:7px;
}
.benign .line{
    position:absolute;
    right:25px;
    width: 1px;
    height:35px;
    border:none;
    border-right:1px solid white;
}


.About2{
    margin-right:100px;
    margin-left: 100px;
    text-align: left;
    color: var(--main-text);
    height:100%;
    width:calc(100% - 200px);
    background-color: inherit;
}



.About2 .AITop{
    display:flex;
    flex-direction: column;
    padding-top:60px;
    height:calc(50% - 60px);
    width:100%;
}

.AITop h2{
    font-size:2vw;
}
.AITop p{
    margin-top:5px;
    margin-bottom:5px;
    color: #CCC;
    color: #888;
    font-size:1.5vw;
}
