.About{
    height:100%;
    width:100%;
    background-color: inherit;
    display:flex;
}

.left h1{
    font-size: 4vw;
    text-align:left;
    margin-bottom:60px;
}
.About .right{
    margin-right:50px;
    width: 600px;
    height:100%;
    display:flex;
    align-items: center;
}
.About .left{
    margin-top:170px;
    color: var(--main-text);
    text-align: left;
    margin-left:100px;
    margin-right:20px;
    width:50%;
    height:calc(100%-170px);
}
.left h2{
    font-size:1.7vw;
}
.left p{
    font-size:1.1vw;
}
.stats{
    display:flex;
}


.About2{
    margin-right:100px;
    margin-left: 100px;
    text-align: left;
    color: var(--main-text);
    height:100%;
    width:calc(100% - 200px);
    background-color: inherit;
}



.About2 .top{
    padding-top:60px;
    height:calc(50% - 60px);
    width:100%;
}

.top h2{
    font-size:2vw;
}
.top p{
    font-size:1.5vw;
}
