.About{
    height:100%;
    width:100%;
    background-color: inherit;
    display:flex;
}
.About .left{
    margin-top:170px;
    color: var(--main-text);
    text-align: left;
    margin-left:100px;
    margin-right:60px;
    width:50%;
    height:calc(100%-170px);
}
.left h1{
    text-align:left;
    margin-bottom:60px;
}
.About .right{
    margin-right:50px;
    width: 50%;
    height:100%;
    display:flex;
    align-items: center;
}

.imageContainer{
    width:500px;
    height:400px;
    position:relative;
}
.img1{
    position:absolute;
    right:0;
    top:0;
    width:60%;
}
.img2{
    position:absolute;
    bottom:0;
    left:0;
    width:70%;
}
