.card{
    height:100%;
    width: 50%; /*Calc(100% - var(--size-margin));*/
    background: var(--bg-color);
    color: var(--main-text);
    box-shadow: 2px 2px 3px #CCC;
    margin-right: var(--side-margin);
}
.card:hover{
    box-shadow: 5px 10px 18px #CCC;
}
.card .headerImg{
    height:40%;
    width:100%;
}
.card .content{
    margin:30px;
}
.content h2{
    text-decoration: none;
    font-size:20px;
}

#n1{
    background: url(require('./img/u17.png')) no-repeat;
    background-size: auto 100%;
    background-position: center;
}
#n2{
    background: url(require('./img/u16.png')) no-repeat;
    background-size: auto 100%;
    background-position: center;

}
