.careerBanner{
    background: url('./img/career.jpg') no-repeat;
    background-size: 100% auto;
    height:230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.careerBanner h1{
    font-size:42px;
    color:black;

}
.jobContainer{
    height: 360px;
    padding-top:50px;
    margin-bottom:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
