.foot {
    font-size: 14px;
    font-weight: 400;
    color: #888;
    width: 100%;
    position:relative;
    height:65px;
    display:flex;
    align-items: center;
    line-height:12px;
}

.footline {
    width:100%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}
.footline p{
    margin-left:30px;
    margin-right:30px;
}
.footline2{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:0;
}

.footline2 p{
    margin-top:22px;
}

.foot .banquan {
    margin-bottom:0px;
    margin-left: 30px;
}

.banquan p{
    margin-bottom: 5px;
}

.foot .message {
    margin-right:30px;
    cursor: pointer;
    color: rgba(0, 102, 204, 1);
}

.message:hover{
    text-decoration:underline;
}
