.Header {
    background-color: var(--bg-color);
    height: var(--header-height);
    width: 100%;
    min-width:735px;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 2px 2px 3px #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo{
    height:32.8px;
    display:flex;
    align-items: center;
    margin-left: var(--side-margin);
}
.headerLogo span{
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
    color:#FFF;

}


.tabs{
    margin-right: var(--side-margin);
    color: #FFF;
    display:flex;
}
