@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');

html{
    --header-height:80px;
    --side-margin:30px;
    --main-blue: #03A9F4;
    --main-text: #FFF;
    --bg-color:  #212121;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
